.table-container {
  padding: 2rem;
  background: $white;
  border-radius: 1rem;
  box-shadow: $box-shadow;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;

  th,
  td {
    padding: 0.9rem 1.2rem;
    text-align: left;
  }

  th {
    background: $dark-blue;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.85rem;
  }

  tr {
    border-bottom: 1px solid $dirty-white;

    &:nth-child(even) {
      background: $blueish-white-darker;
    }

    &:hover {
      background: $border-gray;
    }
  }

  td {
    color: #444;

    &:nth-child(3) a {
      text-decoration: none;
    }
  }
}
