// Collors
$white: #ffffff;
$dirty-white: #f0f2f5;
$active-green: #31a24c;
$error-red: #f02849;
$border-gray: #ced0d4;
$text-dark: #050505;

// Font
$font-family-base: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
  sans-serif;
