// Collors
$white: #f9fafb;
$dirty-white: #f0f2f5;
$blueish-white: #f1f5f9;
$blueish-white-darker: #e2e7ee;
$dark-blue: #003153;
$active-green: #31a24c;
$error-red: #f02849;
$border-gray: #ced0d4;
$text-dark: #050505;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
$shadow-up: inset 0 -4px 6px rgba(0, 0, 0, 0.3);
$shadow-down: inset 0 4px 6px rgba(0, 0, 0, 0.3);

// Font
$font-family-base: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
  sans-serif;
